In [2]:
a = "Hello world"
type(a)

str

In [3]:
a = "Hello "
b = "World"
a+b

'Hello World'

In [5]:
a = "Hello World \n"
print(a*4)

Hello World
Hello World
Hello World
Hello World

In [6]:
a = "Hello World"
a[0]

'H'

In [7]:
a = "Hello World"
a[0:10]

'Hello Worl'

In [8]:
a = "Hello World"
a[0:10:2]

'HloWr'

In [10]:
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter age =")
info = name + str(age) +address
print(info)

Enter name = Ram
Enter age = 34
Enter age =asdsd
Ram34asdsd

In [18]:
name = input("Enter name = ")
age = int(input("Enter age = "))
address = input("Enter address =")
info = f"{name} {age} {address}"
print(info)

Enter name = Ram
Enter age = 43
Enter address =dssfd
Ram 43 dssfd

In [25]:
name = info[0:3]
age = info[3:6]
print(name,age)

Ram  43

In [26]:
info.split()

['Ram', '43', 'dssfd']

In [29]:
info = "Ram.43.dssfd"
info.split('.')

['Ram', '43', 'dssfd']

In [31]:
len(info.split('.'))

3

In [32]:
# search
info = "Ram Shyam Hari Gita Ram"
if 'Ram' in info:
    print("Yes")

Yes

In [36]:
# search and count
info = "Ram Shyam Hari Gita Ram"
if 'Gita' in info:
    print("Yes",info.count('Gita'))
else:
    print("No")

Yes 1

In [38]:
info = "Ram Shyam Hari Gita Ram"
name = input("Enter name for search = ")
if name in info:
    print("Yes",info.count(name))
else:
    print("No")

Enter name for search = ram
No

In [40]:
# upper()
# lower()
a = "Apple"
a.upper()
a.lower()

'apple'

In [43]:
info = "Ram Shyam Hari Gita ram".upper()
name = input("Enter name for search = ").upper()
if name in info:
    print("Yes",info.count(name))
else:
    print("No")

Enter name for search = Ram Shyam Hari Gita ram
Yes 1

In [46]:
info = "Python"
for i in info:
    if i =='o':
        break
    print(i)

P
y
t
h

In [49]:
x = "Ram Shyam Hari Gita ram"
x.replace('Ram','Nabin')

'Nabin Shyam Hari Gita ram'

In [50]:
info = "Ram Shyam Hari Gita ram".upper()
name = input("Enter name for search = ").upper()
replace = input("Enter any value for replace = ")
if name in info:
    print("Yes",info.count(name))
    x = input("Enter 'y' for replace = ")
    if x =='y':
        info = info.replace(name,replace)
else:
    print("No")
print(info)

Enter name for search = Ram
Enter any value for replace = rAm
Yes 2
Enter 'y' for replace = y

'rAm SHYAM HARI GITA rAm'

In [58]:
info1 = ""
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    info = f"{name} {age} {add}."
    info1 = info1+info
x = info1.split('.')
print(x)

Enter the value of n = 2
Enter name = qwe
Enter age = 43
Enter add = sfd
Enter name = sfd
Enter age = 34
Enter add = sdf
['qwe 43 sfd', 'sfd 34 sdf', '']

In [59]:
x[0].split()

['qwe', '43', 'sfd']

In [2]:
b = ""
a = "Apple"
a+b

'Apple'